nav.main ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav.main li{
    list-style: none;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.main li img{
    max-width: 100px;
    height: auto;
}