nav.main{
    background-color: #185490;
    box-shadow: 0 0 50px black;
}

nav.main ul{
    padding: 0;
    display: flex;
}

nav.main li{
    list-style: none;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
}

nav.main li img{
    max-width: 100px;
    height: auto;
}

nav.main ul li:first-child{
    justify-content: flex-start;
}

nav.main ul li img{
    max-width: 100px;
    height: auto;
}

nav.main ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s;
}

nav.main ul li a:hover{
    color: aliceblue;
    background-color: dodgerblue;
}

