nav.main{
    background-color: azure;
    box-shadow: 0 0 50px black;
}

nav.main ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav.main li{
    list-style: none;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.main li img{
    max-width: 100px;
    height: auto;
}

nav.main ul li img{
    max-width: 100px;
    height: auto;
}

nav.main ul li:first-child{
    justify-content: flex-start;
}

